[user]
	name = Jacob Kupersmith
	email = jacob.kupersmith@balbix.com
	signingKey = 1EA5B11CB6F92D49A86C12DBE159CD2140D0DF18
[gpg]
	program = /usr/local/MacGPG2/bin/gpg2
[commit]
	gpgSign = true
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
