[user]
	name = Jacob Kupersmith
	email = jake@jkup.org
	signingKey = 0FFBDFE0C7F84F4D4087C7744138F9DC59752BAF
[commit]
	gpgSign = true
[init]
	defaultBranch = main
[gpg]
	program = /usr/local/MacGPG2/bin/gpg2
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
